
body {
	background: #FFF;
	font-family: serif;
}
.topo {
	background: url("../img/bg-top.jpg") no-repeat;
	height: 161px;
}

.borda {
	/*border: 1px red solid;*/
}

.logo img {
	padding: 20px 30px 10px 69px;
}

.busca {
	height: 35px;
	width: 263px;
	margin: 20px 80px 10px 0px;
}

	.busca input {
		background: url("../img/ico-search.png") no-repeat #FFF;
		height: 35px;
		line-height:35px;
		border: 1px solid #CCC;
		width: 263px;
    	text-indent: 40px;
    	color: #999;
	}

.corpo {
	
}

.banners{
	height: 350px;
}

.icon-falcao{
	background: url("../img/ico-title.png") no-repeat;
	font-size: 25px;
	color: #322C2C;
	padding: 0px 0px 3px 50px;
}

.item, .item a {
	margin: 10px 0px 30px 0px;
	color: #000;
}

	.item a:hover{
		color: #322C2C;
		text-decoration: none;
	}

	.item-data-dia{
		font-size: 22px;
		color: #FFF;
		width: 45px;
		height: 45px;
		background-color: #BEBE98;
		text-align: center;
		padding-top: 8px;
	}
	.item-data-mes {
		font-size: 18px;
		color: #FFF;
		width: 45px;
		height: 26px;
		background-color: #322D2C;
		text-align: center;
	}

	.item-titulo, .item-titulo a{
		font-size: 22px;
	}

	.item-categoria, .item-categoria a{
		font-size: 16px;
		color: #D8271F;
		margin-bottom: 5px;
		margin-top: -5px;
	}
	.item-categoria a:hover {
		text-decoration: underline;
		color: #D8271F;
	}

	.item-resumo, .item-resumo a{
		font-size: 16px;
		text-align: justify;
	}
.item-form{
	border: 1px solid #CCC;
	color: #322C2C;
	margin-top: 10px;
}
.btn-enviar { 
	width: 126px;
	margin-top: 20px;
}

.rodape {
	background: url("../img/bg-footer-01.jpg") no-repeat;
	min-height: 180px;
}

.facebook {
	margin-top: -5px;
}

.endereco {
	text-align: right;
	font-size: 12px;
	color: #322C2C;
}

/*// menu*/

#menu-jr{
	/*border: 1px solid blue;*/
	margin: 36px 0px 0px 0px;
}

	#menu-jr ul li a {
		font-size: 18px;
		color:#322C2C;
	}

		#menu-jr ul li a:hover {
			color:#BEBE98;
			border-bottom: 8px solid #BEBE98;
			background-color: none;
		}

	#menu-global .active a {
		color: #BEBE98 !important;
		border-bottom: 8px solid #BEBE98;
	}
